.code-container {
    height: fit-content;
    font-family: monospace;
}

.code-container h3 {
    color: #6e6e6e;
    text-align: center;
    margin: 5px;
}

.code-chunk {
    padding: 15px;
    display: block;
    margin: 0 auto;
    max-width: 50%;
    height: fit-content;
    background-color: #e4e4e0;
    border: solid 2px;
    border-color: #d4d4d4;
    overflow: auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.copy {
    float: right;
    width: fit-content;
    cursor: pointer;
    padding: 5px;
    border-radius: 50px;
    transition: scale 0.5s ease;
    transition: background-color 0.5s ease;
    transition: box-shadow 0.1s ease;
}

.copy img {
    width: 30px;
}

.copy:hover {
    transform: scale(1.1);
    background-color: #d2d2d2;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  }

.code {
    padding-left: 2px;
    padding-right: 2px;
    margin: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    width: fit-content;
    background-color: #ebebeb;
    font-family: monospace;
}

.code-chunk p {
    margin: 0;
}