.image-slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.image-slider img {
    max-height: 100%;
    max-width: 60%;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.image-slider img.active {
    opacity: 1;
}

.arrow {
    position: absolute;
    font-family: 'Verdana';
    font-weight: bolder;
    font-size: 35px;
    color: white; 
    background-color: #c1c1c1;
    padding-top: 8px;
    padding-bottom: 12px;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transition: font-size 0.3s ease;
    transition: box-shadow 0.3 ease;
}

.arrow:hover {
    filter: brightness(0.95);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    font-size: 40px;
}

.arrow-left {
    left: 8%;
}

.arrow-right {
    right: 8%;
}   
