.section-title {
    padding: 10px;
    background-color: #f3f3f3;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
}

.section-title h2 {
    margin: 0;
    text-align: center;
    color: rgb(0, 0, 0);
}

.section-title img {
    width: 100px; 
    height: 100px; 
    display: block; 
    margin: 0 auto;
}

.grid-container {
    text-align: center;
}

.grid-item {
    position: relative;
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    margin: 25px;
    border-radius: 20px;
    background-color: #d6d6d6;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
    transition: box-shadow 0.3 ease;
    border: 0.5px solid; 
    border-color: #5a5a5a;
}

.grid-item:hover {
    filter: brightness(0.95);
    transform: scale(1.02);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.grid-item img {
    border-radius: 15%;
    margin: 20px;
    margin-bottom: 60px;
    max-width: 180px;
    max-height: 180px;
}

.item-title {
    position: absolute;
    width: 100%;
    bottom: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #bcbcbc;
}

.item-title h3 {
    margin: 0;
    padding: 10px;
    text-align: center;
}

.item-widget {
    margin: 20px;
    background-color: #f3f3f3;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    width: 70px;
    height: 70px;
    position: absolute;
    border-radius: 50%;
    bottom: -35px;
    right: -35px;
}

.item-widget img {
    margin: 10px;
    width: 50px;
    height: 50px;
}

.date {
    padding: 5px;
    padding-right: 15px;
    padding-left: 15px;
    background-color: #a3a3a3;
    color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    border: 0.5px solid; 
    border-color: #5a5a5a;
    width: fit-content;
    height: fit-content;
    position: absolute;
    border-radius: 35px;
    top: -15px;
    left: -20px;
}