body {
    font-family: Monaco;
}

.header { 
    display: block;
    margin: 0 auto;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
    background-color: #dcdcdc;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.section {
    display: block;
    margin: 0 auto;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    background-color: #e8e8e8;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.section-title {
    text-align: center;
}